
.nav-list1 {
    display: flex;
    list-style: none;

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto; 
    margin: 10px;
}

.nav-list1-item{
    margin-left: 10px;
    font-size: 1.1rem;
}

.nav-logo{
    width: 40px;
}