
.image-container{
    width: 230px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px; 
    border-radius: 10px;
}

.image {
    width: 230px;
    height: 160px;
    overflow: hidden;
    border-radius: 9px;
}

.info-group{
    display: flex;
    padding-left: 20px;
    padding-top: 0%;
}

.info-group > p{
    padding-top: 3px;
    padding-left: 10px;
    overflow: hidden;
}

.info-group-image{
    width: 14px;
    height: 13px;
}

.contact-card{
    border: 3px solid;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    color: black;
    background-color: aliceblue;
    box-shadow: 5px 10px #888888;   
}

.contact-card  > h2{
    padding-bottom: 1px;
}
