.im{
    width: 65px;
    height: 70px;
    margin-right: 10px;

} 

.cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

 .hea{
    display: flex;
    padding: auto;
    justify-content: center;
    padding: auto;
    margin-top: 10px;
    border-bottom: solid;
    
}

