.im{
    width: 68px;
    height: 70px;
    margin-right: 10px;
    flex-shrink: 0;
} 

.cont {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.cont > h1 {
    font-size: 2rem;
}

.link{
    margin-left: 10px;
}

.hea{
    display: flex;
    padding: auto;
    justify-content: center;
    padding: auto;
    margin-top: 10px;
    border-bottom: solid;  
}

.countLogo{
    width: 20px;
}

.countryName{
    display: flex;
    align-items: center;
}



.card {
    display: flex;
    border: solid;
    margin-bottom: 5px;
}

.card-image-container{
    border-radius: 15px;
    width: 160px;
    height: 178px;
    flex-shrink: 0;
    margin-right: 20px;
    overflow: hidden;
}

.main-image{
    height: 100%;
    width: 100%;
}

.innerCard{
    margin-left: 10px;
    align-items:end;
}

.cardContent{
    text-align: start;
    margin-left: 10px;
    margin-top: auto;
    overflow: hidden;
}

.entry-marker{
    font-weight: 1000;
}

.link{
    font-size:x-small;
}

P {
    font-size: small;
    font-weight: 800;
    overflow: hidden;
}




